@use 'sass:color';
@use '../../styles/variables' as *;

.projectsPage {
    padding: 3rem 2rem 5rem;
    min-height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    --neon-radius: 12px;
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
    width: fit-content;
    margin-inline: auto;

    // Readability
    padding: 1rem 2rem;
    background: color.change($bg-secondary, $alpha: 0.6);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    border: 1px solid color.change($neon-cyan, $alpha: 0.1);

    h1 {
        font-family: $font-orbitron;
        font-size: 3.5rem;
        color: $neon-cyan;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 0 0 20px color.change($neon-cyan, $alpha: 0.4);
        margin: 0;
        width: fit-content;
        margin-inline: auto;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 380px));
    gap: 3rem;
    width: 100%;
    max-width: 1400px;
    padding: 0 1rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2.5rem;
    }

    .grid {
        grid-template-columns: 1fr;
        max-width: 420px;
    }
}
